@import "./entry.css";
@import "./mainnav.css";
@import "./newpost.css";
@import "./post.css";
@import "./profile.css";

/** ==========GLOBAL STYLE========== **/
:root {
  --clr-primary: rgb(120, 120, 255);
  --clr-dark: rgb(10, 10, 10);
  --clr-text-light: rgb(245, 245, 255);
  --clr-text-grey: rgb(185, 185, 192);
  --clr-pink: rgb(255, 47, 92);
}

*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

textarea {
  background-color: var(--clr-dark);
  color: var(--clr-text-light);
  resize: none;
  width: 100%;
  min-height: 10rem;
  padding: 1em;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}

body {
  font-family: "Montserrat", sans-serif;
}

/** =====================CLASSES===================== **/
.logo {
  color: var(--clr-primary);
  opacity: 0.8;
}

.logo:hover {
  opacity: 1;
}

.btn {
  background-color: var(--clr-primary);
  color: white;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 1em;
  padding: 0.7em 0;
  border-radius: 5em;
  opacity: 0.8;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.disabled-link {
  cursor: default;
  pointer-events: none;
  color: gray;
}

.active-nav {
  cursor: default;
  pointer-events: none;
  color: var(--clr-primary) !important;
}

/** =====================LAYOUT===================== **/
.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
  grid-template-areas: "mainnav maincontent sidenav";
}

.nav {
  grid-area: mainnav;
  background-color: var(--clr-dark);
  width: 100%;
  position: relative;
}

.content {
  grid-area: maincontent;
  background-color: var(--clr-dark);
  color: var(--clr-text-light);
}

.sidenav {
  grid-area: sidenav;
  background-color: var(--clr-dark);
  border-left: 1px solid grey;
}

/** =====================CONTENT===================== **/

.content {
  min-height: 100vh;
  position: relative;
}
.content > header {
  padding: 1em;
  border-bottom: 1px solid grey;
}

.pagination {
  width: 100%;
  height: 3rem;
}

.pagination__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.pagination button {
  border: none;
  outline: none;
  background: none;
  color: var(--clr-text-light);
  cursor: pointer;
}

/** =====================HOME===================== **/
.home-newpost {
  border-bottom: 1em solid rgb(37, 37, 37);
  margin-bottom: 1em;
  overflow: auto;
}

.home-newpost button {
  width: fit-content;
  padding: 0.5em 1em;
  margin: 0.4em 1em;
  float: right;
}
